<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"> 
    <h:head>
        <title><ui:insert name="title">RadioCab</ui:insert></title>
        <h:outputStylesheet name="materialize.css" library="css" />
        <link rel="shortcut icon" type="image/x-icon" href="#{resource['images/favicon.ico']}"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"></link>
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <ui:insert name="css"/>
    </h:head>
    <h:body> 
        <h:outputStylesheet library="css" name="styles.css" />
        <ui:insert name="header" >
            <ui:include src="/layout/main/header.xhtml" />
        </ui:insert> 
        <h:outputScript library="primefaces" name="jquery/jquery.js" target="head"/>
        <h:outputScript library="js" name="materialize.min.js" />
        <h:outputScript library="js" name="init.js" />
        <!--End of Tawk.to Script-->

        <!--Start of Zopim Live Chat Script-->
        <script type="text/javascript">
            window.$zopim || (function (d, s) {
                var z = $zopim = function (c) {
                    z._.push(c)
                }, $ = z.s =
                        d.createElement(s), e = d.getElementsByTagName(s)[0];
                z.set = function (o) {
                    z.set.
                            _.push(o)
                };
                z._ = [];
                z.set._ = [];
                $.async = !0;
                $.setAttribute("charset", "utf-8");
                $.src = "//v2.zopim.com/?4JDNsFqrb5Ucu4LQ6fHEqqr4tB1KJrJ2";
                z.t = +new Date;
                $.
                        type = "text/javascript";
                e.parentNode.insertBefore($, e)
            })(document, "script");
        </script>
        <!--End of Zopim Live Chat Script-->

        <ui:insert name="top" >
            <ui:include src="/layout/main/top.xhtml" />
        </ui:insert>  


        <div class="container" style="min-height: 800px">

            <ui:insert name="content" >


                <ui:include src="/layout/main/content.xhtml" />
            </ui:insert>    

        </div>
        <ui:insert name="footer" >
            <ui:include src="/layout/main/footer.xhtml" />
        </ui:insert>

    </h:body>
</html>