<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <body>
        <ui:composition> 
            <footer class="page-footer">
                <div class="container">
                    <div class="row">
                        <div class="col l6 s12">
                            <h5 class="white-text">RadioCab</h5>
                            <p class="grey-text text-lighten-4">Công Ty TNHH RadioCab - Tôn Thất Thuyết, Hà Nội Mã số doanh nghiệp: 0123456 Người đại diện: Nguyễn Việt Dũng (09) 0000 1234 support@radiocab.com</p>


                        </div>
                        <div class="col l3 s12">
                            <h5 class="white-text">COMPANY</h5>
                            <ul>
                                <li><a class="white-text" href="#!">About</a></li>
                                <li><a class="white-text" href="#!">Blog</a></li>
                                <li><a class="white-text" href="#!">Press</a></li>
                                <li><a class="white-text" href="#!">Careers</a></li>
                            </ul>
                        </div>
                        <div class="col l3 s12">
                            <h5 class="white-text">SERVICES</h5>
                            <ul>
                                <li><a class="white-text" href="#!">Drive</a></li>
                                <li><a class="white-text" href="#!">Safety</a></li>
                                <li><a class="white-text" href="#!">Grab for Work</a></li>
                                <li><a class="white-text" href="#!">Help</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-copyright">
                    <div class="container">
                        Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">RadioCab</a>
                    </div>
                </div>
            </footer>
        </ui:composition>	
    </body>
</html>