<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <body>
        <ui:composition> 
            <header class="no-padding">
                <div class="navbar-fixed">
                    <nav class="navfeature">
                        <div class="container nav-wrapper">

                            <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
                            <a href="/RadioCab" class="waves-effect waves-light">
                                <i class="material-icons icon-demo left" style="font-size:3rem;">my_location</i>
                                <span class="header-large" style="font-weight:300;font-size:1.5rem;">RadioCab</span>
                            </a>
                            <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi mdi-menu"></i></a>
                            <!-- Drop down Content -->
                            <ul id="dropdown1" class="dropdown-content" style="background-color: #1d1d1d; border-width: soid 1px; border-top: white;">
                                <h:form rendered="#{sessionScope.username != null and sessionScope.type == 'admin'}">
                                    <li><h:link outcome="pageadmin.xhtml">Page Admin</h:link></li>
                                </h:form>
                                <li><h:link outcome="profileUser.xhtml" rendered="#{sessionScope.userid != null}">Profile</h:link></li>
                                <li><h:link outcome="controlBoard.xhtml" rendered="#{sessionScope.userid != null}">Control Board</h:link></li>
                                <h:panelGroup  rendered="#{sessionScope.type == 'driver'}">
                                    <li>
                                        <h:link outcome="driverMessages.xhtml" rendered="#{sessionScope.type == 'driver'}" value="Messages">
                                            &nbsp;<h:outputText rendered="#{driverMessagesBean.numberMsg > 0}" value="#{driverMessagesBean.numberMsg}" />
                                        </h:link>                                    
                                    </li>
                                </h:panelGroup>
                                <h:panelGroup   rendered="#{sessionScope.type == 'driver' or sessionScope.type == 'client'}">
                                    <li>
                                        <h:link outcome="transHistory.xhtml">History</h:link>
                                    </li>
                                </h:panelGroup>

                                <li>                                    
                                    <h:form>
                                        <h:commandLink styleClass="orange-text" rendered="#{sessionScope.username != null}" action="#{loginJSFManagedBean.logout()}" value="Logout" ></h:commandLink>
                                    </h:form>
                                </li>
                                <li class="divider"></li>
                            </ul>
                            <!-- Drop down Register -->
                            <ul id="dropdown2" class="dropdown-content" style="background-color: #1d1d1d; border-width: soid 1px; border-top: white;">
                                <li>
                                    <h:link rendered="#{sessionScope.username == null}" outcome="clientRegister.xhtml" value="Client"/>
                                </li>
                                <li>
                                    <h:link rendered="#{sessionScope.username == null}" outcome="driverRegister.xhtml" value="Driver"/>
                                </li>
                                <li>
                                    <h:link rendered="#{sessionScope.username == null}" outcome="companyRegister.xhtml" value="Company"/>
                                </li>
                            </ul>
                            <ul id="nav-mobile" class="hide-on-med-and-down right">
                                <li class="nav-app"></li>
                                <li class="login nav-login">
                                    <h:link rendered="#{sessionScope.username == null}" outcome="login.xhtml">Login</h:link>                 
                                </li>
                                <!-- Drop down Trigger -->
                                <h:panelGroup layout="block" rendered="#{sessionScope.username == null}">
                                    <li>
                                        <a class="dropdown-button" href="#!" data-activates="dropdown2">Register<i class="material-icons right">arrow_drop_down</i></a>
                                    </li>
                                </h:panelGroup>
                                <!-- Drop down Trigger -->
                                <h:panelGroup layout="block" rendered="#{sessionScope.userid != null}">
                                    <li>
                                        <a class="dropdown-button" href="#!" data-activates="dropdown1">
                                            Hi #{sessionScope.username} 
                                            <h:panelGroup  rendered="#{driverMessagesBean.numberMsg > 0}">
                                                <span class="new badge">#{driverMessagesBean.numberMsg}</span> 
                                            </h:panelGroup>
                                            <i class="material-icons right">arrow_drop_down</i>
                                        </a>
                                    </li>
                                </h:panelGroup>

                            </ul>
                        </div>
                        <ul class="side-nav" id="slide-out" style="transform: translateX(-100%);">
                            <li><div class="userView">
                                    <img class="background" src="http://materializecss.com/images/office.jpg"/>
                                    <a href="#!user"><img class="circle" src="http://materializecss.com/images/yuna.jpg"/></a>
                                    <a href="#!name"><span class="white-text name">RadioCab User</span></a>
                                    <a href="#!email"><span class="white-text email">radiocab@gmail.com</span></a>
                                </div>
                            </li>

                            <li class="login nav-login">
                                <h:link rendered="#{sessionScope.username == null}" outcome="login.xhtml">Login</h:link>                 
                            </li>
                            <li>
                                <h:link rendered="#{sessionScope.username == null}" outcome="clientRegister.xhtml" value="Client Register"/>
                            </li>
                            <li>
                                <h:link rendered="#{sessionScope.username == null}" outcome="driverRegister.xhtml" value="Driver Register"/>
                            </li>
                            <li>
                                <h:link rendered="#{sessionScope.username == null}" outcome="companyRegister.xhtml" value="Company Register"/>
                            </li>
                            <h:form rendered="#{sessionScope.username != null and sessionScope.type == 'admin'}">
                                <li><h:link outcome="pageadmin.xhtml">Page Admin</h:link></li>
                            </h:form>
                            <li><h:link outcome="profileUser.xhtml" rendered="#{sessionScope.userid != null}">Profile</h:link></li>
                            <li><h:link outcome="controlBoard.xhtml" rendered="#{sessionScope.userid != null}">Control Board</h:link></li>
                            <h:panelGroup  rendered="#{sessionScope.type == 'driver'}">
                                <li>
                                    <h:link outcome="driverMessages.xhtml" rendered="#{sessionScope.type == 'driver'}" value="Messages">
                                        <f:param name="id" value="#{sessionScope.userid}"/>
                                    </h:link>                                    
                                </li>
                            </h:panelGroup>
                            <h:panelGroup   rendered="#{sessionScope.type == 'driver' or sessionScope.type == 'client'}">
                                <li>
                                    <h:link outcome="transHistory.xhtml">History</h:link>
                                </li>
                            </h:panelGroup>

                            <li>                                    
                                <h:form>
                                    <h:commandLink styleClass="orange-text" rendered="#{sessionScope.username != null}" action="#{loginJSFManagedBean.logout()}" value="Logout" ></h:commandLink>
                                </h:form>
                            </li>
                        </ul>
                    </nav>
                </div>

            </header>
        </ui:composition>	
    </body>
</html>