.ui-panelgrid .ui-panelgrid-cell {
    border-width: 0px;
    padding: 10px 10px;
}

.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td, .ui-datatable tfoot th {
    padding: 10px 10px;
    border-width: 0px;
}

.ui-growl-item-container {
    border-radius: 2px;
    top: 0;
    width: auto;
    clear: both;
    margin-top: 10px;
    position: relative;
    max-width: 100%;
    height: auto;
    min-height: 48px;
    line-height: 1.5em;
    word-break: break-all;
    background-color: #323232;
    padding: 10px 25px;
    font-size: 1.1rem;
    font-weight: 300;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ui-selectonemenu-panel .ui-selectonemenu-list {
    background-color: #323232;
    color: white;
}

.ui-selectonemenu label.ui-selectonemenu-label {
    color: #ff9800;
}

.ui-inputswitch {
    color: #ff9800;
}

.ui-button {
    border-width: 0px;
    text-decoration: none;
    color: #fff;
    background-color: #ff9800;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    outline: 0;
    margin: 3px;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}

.ui-button-text-icon-left .ui-button-text {
    padding: .3em 1em .3em 1.1em;
}

.ui-fileupload-buttonbar .ui-button {
    padding: 5px;
}

label {
    font-size: 1.5rem;
    color: black;
}

.wrapper {
    width:200px;
    height:200px;
    margin: 25px auto;
    overflow: hidden;
    border-radius:50%;
    position: relative;
}

.wrapper img {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%)
}

hr{
    border-top: 1px dashed #8c8b8b;
    border-bottom: 1px dashed #fff;
}