<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="layout/main/common.xhtml">
            <ui:define name="title"> Your account has bean activated</ui:define>
            <ui:define name="content">	
                <div class="center-align">
                    <h1 class="orange-text">Your account has bean activated</h1>
                    <br/>
                    <img src="http://www.troll.me/images/successful-kid/successful-kid.jpg" />
                </div>
            </ui:define>
        </ui:composition>

    </h:body>
</html>

