<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            <!--Id <h:outputText value="#{cRUDJSFManagedBean.acc.id}"/><br></br>-->
            Username: <h:inputText value="#{cRUDJSFManagedBean.acc.username}"/><br></br>
            Password <h:inputText value="#{cRUDJSFManagedBean.acc.pass}"/><br></br>
            User Type <h:inputText value="#{cRUDJSFManagedBean.acc.userType}"/><br></br>
            Status(0: Active, 1: Block) <h:inputText value="#{cRUDJSFManagedBean.acc.isActivate}"/><br></br>
            <h:commandButton action="#{cRUDJSFManagedBean.buttonAdd()}" value="Add" onclick="return confirm('Are you sure?')"></h:commandButton>
        </h:form>
    </h:body>
</html>

