<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="layout/main/common.xhtml">	
            <ui:define name="title">Company Register</ui:define>
            <ui:define name="content">	
                <br/>
                <div class="row">
                    <div class="col s12 m8">
                        <br/>
                        <img class="responsive-img" style="width: 700px;" src="http://mailskin.net/wp-content/uploads/2015/11/support-vector.png"/>
                    </div>
                    <div class="col s12 m4">
                        <div class="card grey darken-4 white-text z-depth-2">
                            <div class="card-content">
                                <h:form id="formid" >
                                    <p:panel>
                                        <h2 class="header">Company Register</h2>

                                        <div class="input-field">
                                            <h:outputLabel for="fullname" value="Full Name" />
                                            <p:inputText id="fullname" class="validate" value="#{registerCompanyBean.fullname}" />
                                            <p:message  for="fullname" style="color:red"   />

                                        </div>  
                                        <div class="input-field">
                                            <h:outputLabel for="username" value="Choose your Username"/>
                                            <p:inputText id="username" class="validate" value="#{registerCompanyBean.username}"/>
                                            <p:message for="username" style="color:red" />
                                            <h:messages for="username" style="color:red;margin:8px;"/>

                                        </div>
                                        <div class="input-field">
                                            <h:outputLabel for="password" value="Password"/>
                                            <p:password id="password" class="validate" value="#{registerCompanyBean.password}"/>
                                            <p:message for="password" style="color:red"/>
                                        </div>
                                        <div class="input-field">
                                            <h:outputLabel for="confirmPass" value="Confirm password"/>
                                            <p:password id="confirmPass" class="validate" value="#{registerCompanyBean.confirmPass}"/>
                                            <p:message for="confirmPass" style="color:red"/>
                                        </div>
                                        <o:validateEqual components="password confirmPass" 
                                                         message="Password not match" showMessageFor="confirmPass" />
                                        <div class="input-field">
                                            <h:outputLabel for="mobilePhone" value="Mobile phone"/>
                                            <p:inputText id="mobilePhone" class="validate" value="#{registerCompanyBean.mobilePhone}"/>
                                            <p:message for="mobilePhone" style="color:red"/>
                                        </div>
                                        <div class="input-field">
                                            <h:outputLabel for="email" value="Current Email Address"/>
                                            <p:inputText id="email" class="validate" value="#{registerCompanyBean.email}"/>
                                            <p:message for="email" style="color:red"/>
                                        </div>
                                        
                                        
                                        <p:messages id="message"  autoUpdate="true" style="color:red"/>

                                        <div class="center-align">
                                            <p:commandButton value="Register"  validateClient="true"   action="#{registerCompanyBean.foward}" class="waves-effect waves-light btn white black-text" />
                                        </div>
                                    </p:panel>
                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

