<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <f:metadata>
        <f:viewParam name="key" value="#{confirmationBean.key}" required="true"/>
        <f:viewParam name="name" value="#{confirmationBean.username}" required="true"/>
        <f:viewParam name="type" value="#{confirmationBean.type}" required="true"/>
        <f:viewAction action="#{confirmationBean.onload()}"/>
    </f:metadata>
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="layout/main/common.xhtml">
            <ui:define name="title">  Page</ui:define>
            <ui:define name="content">	
                <h5>Đợi em 4s nhé!</h5>
                <script>
                    window.setTimeout(function () {
                        location.href = '/RadioCab';
                    }, 4000);
                </script>
                <h:form rendered="#{confirmationBean.check==true}">
                    Confirmation Success
                </h:form>
                <h:form rendered="#{confirmationBean.check!=true}">
                    This page no longer exist!
                </h:form>
            </ui:define></ui:composition>
    </h:body>
</html>

