<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>

        <ui:composition template="layout/main/common.xhtml">

            <ui:define name="title"> Control Board</ui:define>
            <ui:define name="content">	
                <div class="row">
                    <h4>Control Board </h4>
                </div>
                <style>
                    /* Always set the map height explicitly to define the size of the div
                     * element that contains the map. */
                    #map {
                        height: 100%;
                    }

                </style>
                <h:outputScript library="js" name="profileUserUpdate.js" />
                <h:panelGroup rendered="#{sessionScope.type == 'driver' }">
                    <h:form>
                        <p:outputLabel value="Days remaining: #{controlBoardAction.user.userDriver.dateRemaining}"/>
                        &nbsp;&nbsp;&nbsp;
                        <p:outputLabel value="Your Amount is: #{controlBoardAction.user.userDriver.amount}"/>
                        &nbsp;&nbsp;&nbsp;
                        <p:commandButton value="Charge" actionListener="#{controlBoardAction.charge()}" update="growl"/>
                        <p:growl id="growl" showDetail="true" life="2000"/>
                        <p:chart type="line" model="#{controlBoardAction.lineModel1}" style="height:300px;" responsive="true"/>
                        <h3 class="orange-text"> Control Board</h3>
                        <input id="lat" name="lati" type="hidden"/><input id="lng" name="long" type="hidden"/>
                        <h4 class="orange-text"> Bạn đang ở đây, hành khách xung quanh sẽ tìm thấy bạn.</h4>
                        <div class="row z-depth-2" style="height:320px; ">
                            <div id="map">Map</div>
                        </div>
                        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3YBM_JpQrkCN-YHdRSUFjaKKH26V0iTA&amp;libraries=places&amp;callback=initMap"></script>
                        <div class="row right-align">

                            <p:inputSwitch class="orange-text" value="#{controlBoardAction.user.userDriver.driverStatus}" offLabel="Offline" onLabel="Online" />
                            <p:commandButton class="waves-effect waves-light btn" value="Update Status" action="#{controlBoardAction.updateStatus()}" update="growl"/>
                        </div>
                        
                        
                    </h:form>
                </h:panelGroup>

                <h:panelGroup rendered="#{sessionScope.type == 'company' }">
                    <h:form>

                    </h:form>
                </h:panelGroup>

                <h:panelGroup rendered="#{sessionScope.type == 'client' }">
                    <h:form>

                    </h:form>
                </h:panelGroup>

            </ui:define>
        </ui:composition>
    </h:body>
</html>

