<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="layout/main/common.xhtml">
            <ui:define name="title"> Message Page</ui:define>
            <ui:define name="content">	
                <h5>Message</h5>
                <h:form>
                    <p:dataTable value="#{driverMessagesBean.list}" var="his" id="hisTable" emptyMessage="No messages">
                        <p:column headerText="Id">
                            #{his.id}
                        </p:column>
                        <p:column headerText="From">
                            #{his.fromLocation}
                        </p:column>
                        <p:column headerText="From">
                            #{his.toLocation}
                        </p:column>
                        <p:column headerText="Client name">
                            #{his.clientId.email}
                        </p:column>
                        <p:column headerText="Option">
                            <p:commandButton actionListener="#{driverMessagesBean.accept(his.id)}" value="Accept" update="@form"/>
                            <p:commandButton actionListener="#{driverMessagesBean.decline(his.id)}" value="Decline" update="@form"/>
                        </p:column>
                    </p:dataTable>
                </h:form>
            </ui:define></ui:composition>
    </h:body>
</html>

