<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:o="http://omnifaces.org/ui">


    <h:body>
        <ui:composition template="layout/main/common.xhtml">	
            <ui:define name="title">Driver Register</ui:define>
            <ui:define name="content">	
                <br/>
                <div class="row">
                    <div class="col s12 m8">
                        <br/>
                        <img class="responsive-img" style="width: 700px;" src="http://mailskin.net/wp-content/uploads/2015/11/support-vector.png"/>
                    </div>
                    <div class="col s12 m4">
                        <div class="card grey darken-4 white-text z-depth-2">
                            <div class="card-content">
                                <h:form id="formid" >
                                    <p:panel>
                                        <h2 class="header">Driver Register</h2>

                                        <div class="input-field">
                                            <h:outputLabel for="fullname" value="Full Name" />
                                            <p:inputText id="fullname" class="validate" value="#{driverManagedBean.fullname}" />
                                            <p:message  for="fullname" style="color:red"   />

                                        </div>  
                                        <div class="input-field">
                                            <h:outputLabel for="username" value="Choose your Username"/>
                                            <p:inputText id="username" class="validate" value="#{driverManagedBean.username}"/>
                                            <p:message for="username" style="color:red" />
                                            <h:messages for="username" style="color:red;margin:8px;"/>

                                        </div>
                                        <div class="input-field">
                                            <h:outputLabel for="password" value="Password"/>
                                            <p:password id="password" class="validate" value="#{driverManagedBean.password}"/>
                                            <p:message for="password" style="color:red"/>
                                        </div>
                                        <div class="input-field">
                                            <h:outputLabel for="confirmPass" value="Confirm password"/>
                                            <p:password id="confirmPass" class="validate" value="#{driverManagedBean.confirmPass}"/>
                                            <p:message for="confirmPass" style="color:red"/>
                                        </div>
                                        <o:validateEqual components="password confirmPass" 
                                                         message="M?t kh?u không kh?p" showMessageFor="confirmPass" />
                                        <div class="input-field">
                                            <h:outputLabel for="mobilePhone" value="Mobile phone"/>
                                            <p:inputText id="mobilePhone" class="validate" value="#{driverManagedBean.mobilePhone}"/>
                                            <p:message for="mobilePhone" style="color:red"/>
                                        </div>
                                        <div class="input-field">
                                            <h:outputLabel for="email" value="Current Email Address"/>
                                            <p:inputText id="email" class="validate" value="#{driverManagedBean.email}"/>
                                            <p:message for="email" style="color:red"/>
                                        </div>
                                        
                                        <div class="input-field">
                                            <h:outputLabel for="experience" value="Experience"/>
                                            <p:inputText id="experience" class="validate" value="#{driverManagedBean.experience}"/>
                                        </div>
                                        <div class="input-field">
                                            <h:outputLabel for="city" value="City"/>
                                            <p:inputText id="city" class="validate" value="#{driverManagedBean.city}"/>
                                        </div>
                                        <p:messages id="message"  autoUpdate="true" style="color:red"/>

                                        <div class="center-align">
                                            <p:commandButton value="Register"  validateClient="true"   action="#{driverManagedBean.foward}" class="waves-effect waves-light btn white black-text" />
                                        </div>
                                    </p:panel>
                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

