<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="layout/main/common.xhtml">
            <ui:define name="title">  Forgot Password</ui:define>
            <ui:define name="content">	
                <br/><br/><br/>
                <div class="row m6 center-align">
                    <h1>Forgot Password</h1>
                    <div class="card grey darken-4 white-text z-depth-2">
                        <div class="card-content">
                            <i class="material-icons large icon-demo">person_pin</i>
                            <h:form id="login-form">
                                <p:growl autoUpdate="true" />

                                <div class="input-field col s12 left-align" >
                                    <p:inputText id="email" value="#{forgotPasswordBean.email}" class="validate" required="flase" requiredMessage="Fill email !"/>
                                    <p:outputLabel for="email" value="Email" />
                                </div>
                                <p:commandButton value ="Get Pasword"  validateClient="true" action="#{forgotPasswordBean.checking}" class="waves-effect waves-light btn white black-text" />
                                <p:messages id="message"  autoUpdate="true" style="color:red"/>
                            </h:form>
                        </div>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

