<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">
    <f:metadata>
        <f:viewParam name="key" value="#{resetPasswordBean.key}" required="true"/>
        <f:viewParam name="name" value="#{resetPasswordBean.username}" required="true"/>
        <f:viewAction action="#{resetPasswordBean.onload()}"/>
    </f:metadata>
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form rendered="#{resetPasswordBean.check==true}">
            Hãy nhập vào mật khẩu của bạn
            <p:password id="password" value="#{resetPasswordBean.password}"/><br></br>
            Nhập lại mật khẩu
            <p:password id="confirmPass" value="#{resetPasswordBean.confirmpass}"/>
            <p:message for="confirmPass" style="color:red"/><br></br>
            <o:validateEqual components="password confirmPass" 
                             message="M?t kh?u không kh?p" showMessageFor="confirmPass" />
            <p:commandButton value="đặt lại mật khẩu" validateClient="true" action="#{resetPasswordBean.getpassb()}"/>
        </h:form>
        <h:form rendered="#{resetPasswordBean.check!=true}">
            #{resetPasswordBean.fowardtohome()}
        </h:form>
    </h:body>
</html>

