<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:body>
        <ui:composition template="layout/main/common.xhtml">
            <ui:define name="title"> Driver Map</ui:define>
            <ui:define name="top">	
                <h:outputScript library="js" name="home.js" />
                <style>
                    body {
                        overflow:hidden;
                    }
                    /* Always set the map height explicitly to define the size of the div
                     * element that contains the map. */
                    #map{
                        height: 100%;
                    }

                    .full-map {
                        height: 100%;
                        width: 100%;
                        position: fixed;
                        margin: 0;
                        padding: 0;
                        padding-bottom: 230px;
                    }


                    .pac-container {
                        font-family: Roboto;
                    }

                    #type-selector {
                        color: #fff;
                        background-color: #4d90fe;
                        padding: 5px 11px 0px 11px;
                    }

                    #type-selector label {
                        font-family: Roboto;
                        font-size: 13px;
                        font-weight: 300;
                    }
                    #target {
                        width: 345px;
                    }
                </style>

                <div class="no-pad-bot z-depth-2 start-splash-section" style="background-color: #1b1b1b;">
                    <div class="section container">
                        <h4 class="orange-text"> Driver Map</h4>
                        <nav>
                            <div class="nav-wrapper">
                                <form>
                                    <div class="input-field">
                                        <input id="pac-input" type="search" />
                                        <label for="search"><i class="material-icons">search</i></label>
                                        <i class="material-icons">close</i>
                                    </div>
                                </form>
                            </div>
                        </nav>
                        <h5 id="output" class="white-text"></h5>
                    </div>
                </div>
                <div class="full-map">
                    <div style="height:100%; ">
                        <div id="map">Map</div>
                    </div>
                </div>  
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3YBM_JpQrkCN-YHdRSUFjaKKH26V0iTA&amp;libraries=places&amp;callback=initAutocomplete"></script>

                <!-- Modal Structure -->
                <div id="modal1" class="modal modal-fixed-footer">
                    <div class="modal-content">
                        <div class="row">
                            <div class="col s12 m3 center-on-small-only center-align">
                                <div class="image-container wrapper" >
                                    <img src="https://ephoto360.com/uploads/w450/2016/08/23/hieu-ung-kinh-vo-80057bbf53a91d3b_1cdb416c8729c811a2f6c4fd99ddca26.jpg"  height="300px" />
                                </div>
                                <h4>
                                    <h:outputText id="contactPerson" value=""/>
                                </h4>
                            </div>
                            <div class="col s12 m9">   
                                <br/>
                                <label>Username: </label>
                                <h:outputLabel id="username" value=""/>
                                <hr/>
                                <label>City: </label>
                                <h:outputLabel id="city" value=""/>
                                <hr/>

                                <label>Mobile: </label>
                                <h:outputLabel id="mobile" value=""/>
                                <hr/>

                                <label>Experience: </label>
                                <h:outputLabel id="experience" value=""/>
                                <hr/>
                                <label>Point: </label>
                                <h:outputLabel id="point" value=""/>
                                <hr/>
                                <label>Fee: </label>
                                <h:outputLabel id="fee" value=""/>
                                <hr/>
                            </div>
                        </div>
                        <h:form rendered="#{sessionScope.type == 'client' }" id="form-call">
                            <p:growl id="growl" showDetail="true" sticky="true" />
                            <input id="from-loc" name="from-loc" type="hidden"/>
                            <input id="to-loc" name="to-loc" type="hidden"/>
                            <input id="driver-username" name="driver-username" type="hidden"/>
                            <div class="center-align">
                                <p:commandButton value="Call Driver" actionListener="#{callDriverBean.callDriver(sessionScope.userid)}" update="@this growl"/>
                            </div>
                        </h:form>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                    </div>
                </div>

            </ui:define>
            <ui:define name="content"></ui:define>
            <ui:define name="footer"></ui:define>
        </ui:composition>
    </h:body>
</html>	