<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="layout/main/common.xhtml">	
            <ui:define name="top">
                <div class="slider">
                    <ul class="slides">
                        <li>
                            <img src="#{resource['images/1.jpg']}"/> <!-- random image -->
                            <div class="caption center-align">
                                <h3>RadioCab!</h3>
                                <h5 class="light grey-text text-lighten-3">Our largest local motorbike taxi service that give you the freedom to move around the city conveniently.</h5>
                            </div>
                        </li>
                        <li>
                            <img src="#{resource['images/2.jpg']}"/> <!-- random image -->
                            <div class="caption left-align">
                                <h3>Affordable</h3>
                                <h5 class="light grey-text text-lighten-3">No more bargain - We provide you fixed and transparent fares through the app.</h5>
                            </div>
                        </li>
                        <li>
                            <img src="#{resource['images/3.jpg']}"/> <!-- random image -->
                            <div class="caption right-align">
                                <h3>Dynamic</h3>
                                <h5 class="light grey-text text-lighten-3">The best way to roam around the city is sitting on a motorbike. And the traffic congestion will not be a big trouble anymore, we promise.</h5>
                            </div>
                        </li>
                        <li>
                            <img src="#{resource['images/4.jpg']}"/> <!-- random image -->
                            <div class="caption center-align">
                                <h3>Credibility!</h3>
                                <h5 class="light grey-text text-lighten-3">Our dedicated and friendly drivers will ensure you have the best experiences during the journey.</h5>
                            </div>
                        </li>
                    </ul>
                </div>
            </ui:define>
            <ui:define name="content">	
                <div class="container">

                    <!--  Material Design -->
                    <div id="materialdesign" class="section scrollspy">

                        <div class="row section center">
                            <h:link outcome="driverRegister.xhtml" class="waves-effect waves-light btn-large">
                                Join Now <i class="material-icons right">send</i>
                            </h:link>
                        </div>
                    </div>
                </div>
                <h3 class="col s12 light center header">A wide range of services to suit all your transport needs. Click the icons to find out more about our services.
                </h3>

                <div class="row">
                    <div class="col s12 m4">
                        <div class="center promo">
                            <h:link outcome="home.xhtml" class="orange-text">
                                <h4><i class="material-icons large icon-demo ">flash_on</i><br/>Cab Map</h4>

                            </h:link>
                            <p class="light center">RadioCab will find the nearest available driver for you.</p>
                        </div>
                    </div>

                    <div class="col s12 m4">
                        <div class="center promo">
                            <h:link outcome="userListPage.xhtml" class="orange-text">
                                <h4><i class="material-icons large icon-demo ">group</i><br/>List Driver</h4>
                            </h:link>
                            <p class="light center">Share your trip details with loved ones for added safety or even just to let them know you’re on your way.</p>
                        </div>
                    </div>

                    <div class="col s12 m4">
                        <div class="center promo">


                            <h:link outcome="about.xhtml" class="orange-text">
                                <h4><i class="material-icons large icon-demo ">info_outline</i><br/>About Us</h4>
                            </h:link>
                            <p class="light center">Key in your pick-up and drop-off locations to get your estimated fare.</p>
                        </div>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

