<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <script src='//maps.googleapis.com/maps/api/js'></script>
    </h:head>
    <h:body>

        <ui:composition template="layout/main/common.xhtml">
            <ui:define name="title"> Login Page</ui:define>
            <ui:define name="content">	
                <div class="row">
                    <div class="col s12 m8">
                        <img class="responsive-img" style="width: 700px;" src="http://mailskin.net/wp-content/uploads/2015/11/support-vector.png"/>
                    </div>
                    <div class="row center-align">
                        <div class="col s12 m4">
                            <div class="section">

                            </div>
                            <div class="section">

                            </div>
                            <div class="section">

                            </div>
                            <div class="card grey darken-4 white-text z-depth-2">
                                <div class="card-content">
                                    <i class="material-icons large icon-demo">person_pin</i>
                                    <h:form id="login-form">
                                        <p:growl autoUpdate="true" />

                                        <div class="input-field col s12 left-align">
                                            <p:inputText id="username" class="validate" value="#{loginJSFManagedBean.acc.username}" required="flase" requiredMessage="Fill username !" ></p:inputText>
                                            <p:outputLabel for="username" value="Username" />
                                        </div>
                                        <div class="input-field col s12 left-align">
                                            <h:inputSecret id="password" class="validate" value="#{loginJSFManagedBean.acc.pass}" required="true" requiredMessage="Fill password !" ></h:inputSecret>
                                            <h:outputLabel for="password" value="Password" />
                                        </div>

                                        <p:commandButton 
                                            value="Login" action="#{loginJSFManagedBean.loginButton()}" class="waves-effect waves-light btn white black-text">
                                        </p:commandButton>
                                        <br/>
                                        <p:link outcome="forgotpassword.xhtml" value="Forgot password?"/>
                                    </h:form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

