<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title> Title</title>
    </h:head>
    <h:body>
        <ui:composition template="layout/main/common.xhtml">	
            <ui:define name="title"> ADMIN MANAGER</ui:define>
            <ui:define name="content">	
                <style>
                    input[type="submit"] {
                        background-color: transparent;
                        border: 0px;
                    }
                </style>
                <h:panelGroup rendered="#{sessionScope.type == 'admin'}">
                    <h2 class="orange-text"> User Manager</h2>
                    <h:form>
                        <p:dataTable tableStyleClass="striped centered" 
                                     var="acc" 
                                     value="#{pageAdminManagedBean.userAccList}"
                                     widgetVar="persTable"
                                     emptyMessage="No record"
                                     rows="30"
                                     paginator="true" >
                            <p:column headerText="Id">
                                #{acc.id}
                            </p:column>
                            <p:column headerText="Contact Person">
                                <p:outputLabel rendered="#{acc.userType=='driver'}" value="#{acc.userDriver.contactPerson}"/>
                                <p:outputLabel rendered="#{acc.userType=='company'}" value="#{acc.userCompany.contactPerson}"/>
                            </p:column>
                            <p:column headerText="Username">
                                #{acc.username}
                            </p:column>
                            <p:column headerText="User Type">
                                #{acc.userType}
                            </p:column>
                            <p:column headerText="isActive">
                                #{acc.isActivate}
                            </p:column>
                            <p:column headerText="Email">
                                #{acc.email}
                            </p:column>
                            <p:column headerText="Option">
                                <h:commandButton class=" material-icons"  rendered="#{acc.userType != 'admin'}" action="#{cRUDJSFManagedBean.buttonDelete(acc)}" value="delete" />
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <h:commandButton class="material-icons" rendered="#{acc.userType != 'admin'}" action="#{cRUDJSFManagedBean.buttonBlock(acc)}" value="lock" />
                            </p:column>
                        </p:dataTable>
                        <p:dialog header="User Info" widgetVar="userDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                            <p:outputPanel id="userDetail" style="text-align:center;">
                                <p:panelGrid  columns="2" rendered="#{not empty pageAdminManagedBean.selectedUserAcc}" columnClasses="label,value">


                                    <h:outputText value="Username:" />
                                    <h:outputText value="#{pageAdminManagedBean.selectedUserAcc.username}" />

                                    <h:outputText value="Email" />
                                    <h:outputText value="#{pageAdminManagedBean.selectedUserAcc.email}" />

                                    <p:button outcome="userDetails.xhtml" icon="fa fa-fw fa-edit" value="Xem them">
                                        <f:param name="id" value="#{pageAdminManagedBean.selectedUserAcc.id}"/>
                                    </p:button>

                                </p:panelGrid>
                            </p:outputPanel>
                        </p:dialog>
                        <h:link value="Add User" class="waves-effect waves-light btn" outcome="adduser.xhtml" style="text-decoration: none"></h:link><br></br>
                    </h:form>



                    <!--</center>-->
                </h:panelGroup>
                <h:link outcome="index.xhtml" value="Home" rendered="#{sessionScope.username !='admin'}"/>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

