<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="layout/main/common.xhtml">
            <ui:define name="title"> Payment Page</ui:define>
            <ui:define name="content">	
                <h4>Payment Page</h4>
                <hr/>
                <h:form rendered="#{sessionScope.type == 'driver' || sessionScope.type == 'company'}">
                    <p:outputLabel value="Your username: #{paymentBean.user.username}"/>
                    <br/>
                    <p:outputLabel value="Your email: #{paymentBean.user.email}"/>
                    <br/>
                    <label>Active account</label>
                    <br/>
                    <p:selectOneMenu value="#{paymentBean.supplier}">
                        <f:selectItem itemLabel="Select One" itemValue="#{null}" noSelectionOption="true" />
                        <f:selectItem itemLabel="Vina" itemValue="VINA"/>
                        <f:selectItem itemLabel="Mobifone" itemValue="MOBI"/>
                        <f:selectItem itemLabel="Viettel" itemValue="VIETTEL"/>
                        <f:selectItem itemLabel="Gate" itemValue="GATE"/>
                        <f:selectItem itemLabel="Vtc vcoin" itemValue="VTC"/>
                    </p:selectOneMenu><br/>
                    <p:outputLabel value="Seri number"/><p:inputText value="#{paymentBean.seri}"/><br/>
                    <p:outputLabel value="PIN  code"/><p:inputText value="#{paymentBean.pincode}"/><br/>
                    <p:commandButton action="#{paymentBean.commitActive()}" value="Activate"/>
                </h:form>

            </ui:define></ui:composition>
    </h:body>
</html>

