<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <f:metadata>
        <f:viewAction action="#{userDetails.onload(sessionScope.userid)}"/>
    </f:metadata>
    <h:head>
        <title>Facelet Update</title>
    </h:head>
    <h:body>
        <ui:composition template="layout/main/common.xhtml">
            <ui:define name="title"> Update Profile</ui:define>
            <ui:define name="content">	
                <style>
                    .ui-panelgrid-cell {
                        border-width: 0px;
                        border-style: solid;
                        border-color: inherit;
                        padding: 4px 10px;
                    }
                    input[type=text] {
                        font-size: 1.5rem;
                        color: gray;
                    }
                </style>
                <h:outputScript library="js" name="profileUserUpdate.js" />
                <h3 class="orange-text"> Profile User Update</h3>
                <h:panelGroup rendered="#{sessionScope.type == 'driver' }">
                    <h:form>
                        <p:panelGrid class="row no-border" columns="2">
                            <h:outputLabel value="Id"/>
                            <h:outputLabel value="#{userDetails.user.id}"/>
                            <h:outputLabel value="Username"/>
                            <h:outputLabel value="#{userDetails.user.username}"/>
                            <h:outputLabel value="UserType"/>
                            <h:outputLabel value="#{userDetails.user.userType}"/>

                            <h:outputLabel for="email" value="Email"/>
                            <h:inputText id="email" class="validate" value="#{userDetails.user.email}" required="flase" requiredMessage="Fill username !"/>

                            <h:outputLabel value="ContactPerson"/>
                            <h:inputText id="contactPerson" class="validate" value="#{userDetails.user.userDriver.contactPerson}"/>

                            <h:outputLabel value="City"/>
                            <h:inputText value="#{userDetails.user.userDriver.city}"/>
                            <h:outputLabel value="Driving License"/>
                            <p:panelGrid columns="1">
                                <p:graphicImage id="licenseimg" class="responsive-img" width="400px" value="/images/#{userDetails.user.userDriver.drivingLicense}" alt="#{userDetails.user.userDriver.drivingLicense}" />
                                <p:fileUpload id="fileIdPhoto"  fileUploadListener="#{userDetails.uploadLicensePhoto}" mode="advanced" dragDropSupport="false"
                                              multiple="true" update="messages licenseimg" sizeLimit="10000000" fileLimit="3" allowTypes="/(\.|\/)(gif|jpe?g|png)$/" />
                            </p:panelGrid>

                            <h:outputLabel value="Driver Vehicle Type"/>
                            <p:selectOneMenu value="#{userDetails.user.userDriver.driverVehicleType}">
                                <f:selectItem itemLabel="Car" class="ui-button"  itemValue="car"/>
                                <f:selectItem itemLabel="Motorbike" itemValue="motorbike"/>
                            </p:selectOneMenu>

                            <h:outputLabel value="Driver Vehicle Image"/>
                            <p:panelGrid columns="1">
                                <p:graphicImage id="vehicleimg" class="responsive-img" width="400px" value="/images/#{userDetails.user.userDriver.driverVehicleImage}" alt="#{userDetails.user.userDriver.driverVehicleImage}" />
                                <p:fileUpload id="fileVehiclePhoto"  fileUploadListener="#{userDetails.uploadVehiclePhoto}" mode="advanced" dragDropSupport="false"
                                              multiple="true" update="messages vehicleimg" sizeLimit="10000000" fileLimit="3" allowTypes="/(\.|\/)(gif|jpe?g|zip)$/" />
                            </p:panelGrid>
                            <h:outputLabel value="Mobile"/>
                            <h:inputText value="#{userDetails.user.userDriver.mobile}"/>
                            <h:outputLabel id="telephone" class="validate" value="Telephone"/>

                            <h:inputText value="#{userDetails.user.userDriver.telephone}"/>
                            <h:outputLabel value="DriverStatus"/>
                            <p:inputSwitch value="#{userDetails.user.userDriver.driverStatus}" offLabel="Offline" onLabel="Online" />
                            <h:outputLabel value="Experience"/>
                            <h:inputText id="experience" class="validate" value="#{userDetails.user.userDriver.experience}"/>

                            <h:outputLabel value="DriverPoint"/>
                            <h:outputLabel value="#{userDetails.user.userDriver.driverPoint}"/>
                        </p:panelGrid>

                        <!--Validate check thử điền sai đi-->
                        <p:message  for="email" style="color:red"   />
                        <p:message  for="contactPerson" style="color:red"   />
                        <p:message  for="telephone" style="color:red"   />

                        <p:messages id="messages" autoUpdate="true" closable="true" />

                        <p:commandButton validateClient="true" class="waves-effect waves-light btn" action="#{userDetails.actionUpdate()}" value="Update" onclick="return confirm('Are you sure?')"></p:commandButton>     
                    </h:form>
                </h:panelGroup>

                <h:panelGroup rendered="#{sessionScope.type == 'company' }">
                    <h:form>
                        <p:panelGrid columns="2">
                            <h:outputLabel value="Id"/>
                            <h:outputLabel value="#{userDetails.user.id}"/>
                            <h:outputLabel value="username"/>
                            <h:outputLabel value="#{userDetails.user.username}"/>
                            <h:outputLabel value="userType"/>
                            <h:outputLabel value="#{userDetails.user.userType}"/>
                            <h:outputLabel value="email"/>
                            <h:inputText id="email" class="validate" value="#{userDetails.user.email}"/>
                            <h:outputLabel value="contactPerson"/>
                            <h:inputText id="contactPerson" class="validate" value="#{userDetails.user.userCompany.contactPerson}"/>

                        </p:panelGrid>
                        <h:commandButton action="#{userDetails.actionUpdate()}" value="Update" onclick="return confirm('Are you sure?')"></h:commandButton> 
                    </h:form>
                </h:panelGroup>

                <h:panelGroup rendered="#{sessionScope.type == 'admin' }">
                    <h:form>
                        <p:panelGrid columns="2">

                        </p:panelGrid>
                        <h:commandButton action="#{userDetails.actionUpdate()}" value="Update" onclick="return confirm('Are you sure?')"></h:commandButton>
                    </h:form>
                </h:panelGroup>

                <h:panelGroup rendered="#{sessionScope.type == 'client' }">
                    <h:form>
                        <p:panelGrid columns="2">

                        </p:panelGrid>
                        <h:commandButton action="#{userDetails.actionUpdate()}" value="Update" onclick="return confirm('Are you sure?')"></h:commandButton>
                    </h:form>
                </h:panelGroup>

            </ui:define>
        </ui:composition>
    </h:body>
</html>
