<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <f:metadata>
        <f:viewAction action="#{userDetails.onload(sessionScope.userid)}"/>
    </f:metadata>
    <h:head>
        <title> Title</title>
    </h:head>
    <h:body>
        <ui:composition template="layout/main/common.xhtml">
            <ui:define name="title"> Profile Page</ui:define>
            <ui:define name="content">	
                <script>
                    $(document).ready(function () {
                        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
                        $('.modal-trigger').leanModal();
                    });

                </script>
                <h2 class="header">Profile Page</h2>
                <h:panelGroup rendered="#{sessionScope.type == 'driver' }">
                    <h:form>
                        <div class="row">
                            <div class="col s12 m3 center-on-small-only center-align">
                                <div class="image-container wrapper" >
                                    <p:graphicImage value="/images/#{userDetails.user.userDriver.drivingLicense}" alt="License"/>
                                </div>
                                <h:panelGroup rendered="#{userDetails.user.userDriver.driverStatus==true}">
                                    <div class="chip green white-text">  
                                        Online
                                    </div>
                                </h:panelGroup>
                                <h:panelGroup rendered="#{userDetails.user.userDriver.driverStatus==false}">
                                    <div class="chip">  
                                        Offline
                                    </div>
                                </h:panelGroup>
                                <div class="chip  blue-grey lighten-1 white-text">
                                    <h:outputText value="#{userDetails.user.userDriver.driverVehicleType}"/>
                                </div>
                                <h4>
                                    <h:outputText value="#{userDetails.user.userDriver.contactPerson}"/>
                                </h4>
                            </div>
                            <div class="col s12 m9">   
                                <br/>
                                <label>City: </label>
                                <h:outputLabel value="#{userDetails.user.userDriver.city}"/>
                                <hr/>

                                <label>Email: </label>
                                <h:outputLabel value="#{userDetails.user.email}"/>
                                <hr/>

                                <label>Mobile: </label>
                                <h:outputLabel value="#{userDetails.user.userDriver.mobile}"/>
                                <hr/>

                                <label>Experience: </label>
                                <h:outputLabel value="#{userDetails.user.userDriver.experience}"/>
                                <hr/>
                                <label>Point: </label>
                                <h:outputLabel value="#{userDetails.user.userDriver.driverPoint}"/>
                                <hr/>

                                <div class="row section">
                                    <div class="col">
                                        <!-- Modal Trigger -->
                                        <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Driving License</a>
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        <a class="waves-effect waves-light btn modal-trigger" href="#modal2">Driving Vehicle Image</a>
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        <h:commandButton class="waves-effect waves-light btn" action="#{userDetails.buttonEdit()}" value="Update Profile"></h:commandButton>  

                                    </div>
                                </div>
                                <!-- Modal Structure -->
                                <div id="modal1" class="modal">
                                    <div class="modal-content">
                                        <h4>Driving License</h4>
                                        <p>Driving License</p>
                                        <p:graphicImage class="" width="400px" value="/images/#{userDetails.user.userDriver.drivingLicense}" alt="#{userDetails.user.userDriver.drivingLicense}" />

                                    </div>
                                    <div class="modal-footer">
                                        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
                                    </div>
                                </div>

                                <!-- Modal Structure -->
                                <div id="modal2" class="modal">
                                    <div class="modal-content">
                                        <h4>Driving Vehicle Image</h4>
                                        <p>Driving Vehicle Image</p>
                                        <p:graphicImage class="" width="400px" value="/images/#{userDetails.user.userDriver.driverVehicleImage}" alt="#{userDetails.user.userDriver.drivingLicense}" />

                                    </div>
                                    <div class="modal-footer">
                                        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </h:form>

                </h:panelGroup>

                <h:panelGroup rendered="#{sessionScope.type == 'company' }">
                    <h:form>
                        <p:panelGrid columns="2">
                            <h:outputLabel value="Id"/>
                            <h:outputLabel value="#{userDetails.user.id}"/>
                            <h:outputLabel value="username"/>
                            <h:outputLabel value="#{userDetails.user.username}"/>
                            <h:outputLabel value="userType"/>
                            <h:outputLabel value="#{userDetails.user.userType}"/>
                            <h:outputLabel value="email"/>
                            <h:outputLabel value="#{userDetails.user.email}"/>
                            <h:outputLabel value="contactPerson}"/>
                            <h:outputLabel value="#{userDetails.user.userCompany.contactPerson}"/>
                            <h:outputLabel value="city"/>
                            <h:outputLabel value="#{userDetails.user.userCompany.city}"/>
                            <h:outputLabel value="drivingLicense"/>
                            <h:outputLabel value="#{userDetails.user.userCompany.telephone}"/>
                            <h:outputLabel value="driverVehicleType"/>
                            <h:outputLabel value="#{userDetails.user.userCompany.mobile}"/>
                            <h:outputLabel value="driverVehicleImage"/>
                            <h:outputLabel value="#{userDetails.user.userCompany.companyAddress}"/>
                            <h:outputLabel value="mobile"/>
                            <h:outputLabel value="#{userDetails.user.userCompany.comDescription}"/>
                            <h:outputLabel value="telephone"/>
                            <h:outputLabel value="#{userDetails.user.userCompany.dateEnd}"/>
                        </p:panelGrid>
                        <h:commandButton action="#{userDetails.buttonEdit()}" class="waves-effect waves-light btn" value="Update"></h:commandButton>
                    </h:form>
                </h:panelGroup>

                <h:panelGroup rendered="#{sessionScope.type == 'admin' }">
                    <h:form>
                        <p:panelGrid columns="2">
                            <h:outputLabel value="Id"/>
                            <h:outputLabel value="#{userDetails.user.id}"/>
                            <h:outputLabel value="Username"/>
                            <h:outputLabel value="#{userDetails.user.username}"/>
                            <h:outputLabel value="UserType"/>
                            <h:outputLabel value="#{userDetails.user.userType}"/>
                            <h:outputLabel value="Email"/>
                            <h:outputLabel value="#{userDetails.user.email}"/>
                            <h:outputLabel value="Contact Person}"/>
                            <h:outputLabel value="#{userDetails.user.userAdmin.contactPerson}"/>
                            <h:outputLabel value="Phone"/>
                            <h:outputLabel value="#{userDetails.user.userAdmin.phone}"/>

                        </p:panelGrid>
                        <h:commandButton action="#{userDetails.buttonEdit()}" class="waves-effect waves-light btn" value="Update"></h:commandButton>
                    </h:form>
                </h:panelGroup>


                <h:panelGroup rendered="#{sessionScope.type == 'client' }">
                    <h:form>
                        <p:panelGrid columns="2">
                            <h:outputLabel value="Username"/>
                            <h:outputLabel value="#{userDetails.user.username}"/>
                            <h:outputLabel value="UserType"/>
                            <h:outputLabel value="#{userDetails.user.userType}"/>
                            <h:outputLabel value="Email"/>
                            <h:outputLabel value="#{userDetails.user.email}"/>
                            <h:outputLabel value="Contact Person"/>
                            <h:outputLabel value="#{userDetails.user.userClient.contactPerson}"/>
                            <h:outputLabel value="Phone"/>
                            <h:outputLabel value="#{userDetails.user.userClient.phone}"/>

                        </p:panelGrid>
                        <h:commandButton action="#{userDetails.buttonEdit()}" class="waves-effect waves-light btn" value="Update"></h:commandButton>
                    </h:form>
                </h:panelGroup>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

