<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            <p:selectOneMenu>
                <f:selectItem itemLabel="Driver" itemValue="driver" />
                <f:selectItem itemLabel="Company" itemValue="company" />
            </p:selectOneMenu>
            <p:commandButton update="@parent" action="#{userDriverView.searchList()}" value="Sear"/>
            <p:dataTable var="u" value="#{userDriverView.list}" widgetVar="persTable"
                         reflow="true"
                         paginator="true"
                         rowsPerPageTemplate="4"
                         rows="5" emptyMessage="No record"
                         filteredValue="#{userDriverView.filteredUser}">


                <p:column headerText="Contact Person" footerText="contains">
                    <h:outputText value="#{u.contactPerson}" />
                </p:column>

                <p:column headerText="Vehicle" footerText="contains" filterBy="#{u[1]}" filterMatchMode="exact">
                    <f:facet name="filter">
                        <p:selectOneMenu onchange="PF('carsTable').filter()" >
                            <f:selectItem itemLabel="Select One" itemValue="#{null}" noSelectionOption="true" />
                            <f:selectItems value="#{dtFilterView.brands}" />
                        </p:selectOneMenu>
                    </f:facet>
                    <h:outputText value="#{u.driverVehicleType}" />
                </p:column>

                <p:column headerText="Phone" footerText="contains" >
                    <h:outputText value="#{u.mobile}" />
                </p:column>

                <p:column headerText="Status" footerText="contains" filterBy="#{u[3]}" filterMatchMode="equals">
                    <f:facet name="filter">
                        <p:selectOneButton onchange="PF('carsTable').filter()">
                            <f:converter converterId="javax.faces.Boolean" />
                            <f:selectItem itemLabel="All" itemValue="" />
                            <f:selectItem itemLabel="On" itemValue="true" />
                            <f:selectItem itemLabel="Off" itemValue="false" />
                        </p:selectOneButton>
                    </f:facet>
                    <h:outputText value="#{u.driverStatus}" />
                </p:column>

                <p:column headerText="Expenses" footerText="contains" sortBy="#{u[4]}" >
                    <h:outputText value="#{u.driverPoint}" />
                </p:column>

                <p:column headerText="Action">
                    <h:form>
                        <p:commandButton value="Show" icon="ui-icon-extlink" onclick="PF('dlg1').show();" />
                    </h:form>

                </p:column>
            </p:dataTable>
        </h:form>
        <p:dialog header="Driver" widgetVar="dlg1" minHeight="40">
            <h1> Nguyen Viet Dung</h1>
            <p>
                <img src="http://pixel.nymag.com/imgs/daily/vulture/2016/01/22/22-avatar.w529.h529.jpg" width = "240"></img>
            </p> 

            <p>Info:Toi sinh nam 1994 que o Ha Nam, so thich cua toi la quoc dat.</p> 
            <p> Point: * * * * *</p> 
            <p>Phone:  0988313443</p> 
            <p>Vehicle:  Cab</p> 
            <hr></hr>
            <p:button outcome="userDetails.xhtml" value="More" icon="ui-icon-extlink">
                <f:param name="id" value="#{u.userAccount.id}"/>
            </p:button>
        </p:dialog>
    </h:body>
</html>

