<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <f:metadata>
        <f:viewParam name="id" value="#{testBean.id}"/>
    </f:metadata>
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form rendered="#{sessionScope.type == 'driver'}">
            So thong bao <p:link value="#{notifyBean.number}" outcome="transHistory.xhtml" id="txt_count"/>
            <p:poll interval="3" listener="#{notifyBean.increment}" update="txt_count" />

        </h:form>
        <h:form>
            <p:commandButton value="Test" action="#{testBean.test()}"/>
        </h:form>
        
    </h:body>
</html>

