<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <f:metadata>
        <f:viewAction action="#{transHistoryBean.onload(sessionScope.userid)}"/>
    </f:metadata>
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="layout/main/common.xhtml">
            <ui:define name="title"> Profile Page</ui:define>
            <ui:define name="content">	
                <h5>History</h5>
                <h:panelGroup rendered="#{sessionScope.type == 'driver' }">
                    <h:form>
                        <p:dataTable value="#{transHistoryBean.hisList}" var="his" sortOrder="descending">
                            <p:column headerText="id" sortBy="id" >
                                #{his.id}
                            </p:column>
                            <p:column headerText="Client id">
                                #{his.clientId}
                            </p:column>
                            <p:column headerText="From">
                                #{his.fromLocation}
                            </p:column>
                            <p:column headerText="To">
                                #{his.toLocation}
                            </p:column>
                            <p:column headerText="Date">
                                #{his.dateSend}
                            </p:column>
                            <p:column headerText="Status">
                                <h:outputText value="Not response" rendered="#{his.checkedStatus==0}" style="color: gainsboro"/>
                                <h:outputText value="Accepted" rendered="#{his.checkedStatus==1}" style="color: greenyellow"/>
                                <h:outputText value="Declined" rendered="#{his.checkedStatus==2}" style="color: red"/>
                            </p:column>
                        </p:dataTable>
                    </h:form>
                </h:panelGroup>
                <h:panelGroup rendered="#{sessionScope.type == 'client' }">
                    <h:form>
                        <p:dataTable value="#{transHistoryBean.hisList}" var="his"  rowKey="#{his.id}" id="hisTable" reflow="true">
                            <p:column headerText="Driver Name">
                                #{his.driverId.userDriver.contactPerson}
                            </p:column>
                            <p:column headerText="From">
                                #{his.fromLocation}
                            </p:column>
                            <p:column headerText="To">
                                #{his.toLocation}
                            </p:column>
                            <p:column headerText="Date">
                                #{his.dateSend}
                            </p:column>
                            <p:column headerText="Status">
                                <h:outputText value="Not response" rendered="#{his.checkedStatus==0}" style="color: gainsboro"/>
                                <h:outputText value="Accepted" rendered="#{his.checkedStatus==1}" style="color: greenyellow"/>
                                <h:outputText value="Declined" rendered="#{his.checkedStatus==2}" style="color: red"/>
                            </p:column>
                            <p:column headerText="Rate">
                                <p:panel id="rate-#{his.id}" rendered="#{his.checkedStatus==1}">
                                    <p:commandButton update="@form:rating" oncomplete="PF('dialog').show()" icon="ui-icon-search" title="View" rendered="#{his.rate==null}" value="Rate">
                                        <f:setPropertyActionListener value="#{his}" target="#{transHistoryBean.selectedHis}" />
                                    </p:commandButton>
                                    <p:rating value="#{his.rate}" readonly="true" rendered="#{his.rate!=null}" />
                                </p:panel>
                            </p:column>
                        </p:dataTable>


                        <p:dialog header="Rating" widgetVar="dialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                            <p:outputPanel id="rating" style="text-align:center;">
                                <p:panelGrid  columns="1" rendered="#{not empty transHistoryBean.selectedHis}" columnClasses="label,value">

                                    <h3>Pls choose</h3>
                                    <p:rating value="#{transHistoryBean.selectedHis.rate}" cancel="false">
                                        <p:ajax event="rate" listener="#{transHistoryBean.onrate}" update="@this"></p:ajax>
                                    </p:rating>
                                    <p:inputTextarea value="#{transHistoryBean.selectedHis.feedback}"/>
                                    <p:commandButton value="Send" actionListener="#{transHistoryBean.updateFeedback()}" update="hisTable"/>
                                </p:panelGrid>
                            </p:outputPanel>
                        </p:dialog>
                    </h:form>
                </h:panelGroup>
            </ui:define></ui:composition>
    </h:body>
</html>

