<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <f:metadata>
        <f:viewParam name="id" value="#{userDetailsView.id}" required="true"/>
        <f:viewAction action="#{userDetailsView.onload()}"/>
    </f:metadata>
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="layout/main/common.xhtml">
            <ui:define name="title"> Profile Page</ui:define>
            <ui:define name="content">	
                <script>
                    $(document).ready(function () {
                        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
                        $('.modal-trigger').leanModal();
                    });

                </script>
                <h2 class="header">Profile Page</h2>
                <h:panelGroup rendered="#{userDetailsView.user.userType == 'driver' }">
                    <div class="row">
                        <div class="col s12 m3 center-on-small-only center-align">
                            <div class="image-container wrapper" >
                                <img src="https://ephoto360.com/uploads/w450/2016/08/23/hieu-ung-kinh-vo-80057bbf53a91d3b_1cdb416c8729c811a2f6c4fd99ddca26.jpg" height="300px" />
                            </div>
                            <h:panelGroup rendered="#{userDetailsView.user.userDriver.driverStatus==true}">
                                <div class="chip green white-text">  
                                    Online
                                </div>
                            </h:panelGroup>
                            <h:panelGroup rendered="#{userDetailsView.user.userDriver.driverStatus==false}">
                                <div class="chip">  
                                    Offline
                                </div>
                            </h:panelGroup>
                            <div class="chip  blue-grey lighten-1 white-text">
                                <h:outputText value="#{userDetailsView.user.userDriver.driverVehicleType}"/>
                            </div>
                            <h4>
                                <h:outputText value="#{userDetailsView.user.userDriver.contactPerson}"/>
                            </h4>
                        </div>
                        <div class="col s12 m9">   
                            <br/>
                            <label>Username: </label>
                            <h:outputLabel value="#{userDetailsView.user.userDriver.username}"/>
                            <hr/>
                            <label>City: </label>
                            <h:outputLabel value="#{userDetailsView.user.userDriver.city}"/>
                            <hr/>

                            <label>Email: </label>
                            <h:outputLabel value="#{userDetailsView.user.email}"/>
                            <hr/>

                            <label>Mobile: </label>
                            <h:outputLabel value="#{userDetailsView.user.userDriver.mobile}"/>
                            <hr/>

                            <label>Experience: </label>
                            <h:outputLabel value="#{userDetailsView.user.userDriver.experience}"/>
                            <hr/>
                            <label>Point: </label>
                            <h:outputLabel value="#{userDetailsView.user.userDriver.driverPoint}"/>
                            <hr/>
                            <label>Telephone: </label>
                            <h:outputLabel value="#{userDetailsView.user.userDriver.telephone}"/>
                            <hr/>
                            <label>Type: </label>
                            <h:outputLabel value="#{userDetailsView.user.userDriver.driverVehicleType}"/>
                            <hr/>

                            <div class="row section">
                                <div class="col">
                                    <!-- Modal Trigger -->
                                    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Driving License</a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;

                                </div>
                            </div>
                            <!-- Modal Structure -->
                            <div id="modal1" class="modal">
                                <div class="modal-content">
                                    <h4>Driving License</h4>
                                    <p>Driving License</p>
                                    <p:graphicImage class="" width="400px" value="/images/#{userDetailsView.user.userDriver.drivingLicense}" alt="#{userDetailsView.user.userDriver.drivingLicense}" />

                                </div>
                                <div class="modal-footer">
                                    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    
                </h:panelGroup>



                <h:panelGroup rendered="#{userDetailsView.user.userType == 'company' }">
                    <h:form>
                        <p:panelGrid columns="2">
                            <h:outputLabel value="Id"/>
                            <h:outputLabel value="#{userDetailsView.user.id}"/>
                            <h:outputLabel value="username"/>
                            <h:outputLabel value="#{userDetailsView.user.username}"/>
                            <h:outputLabel value="userType"/>
                            <h:outputLabel value="#{userDetailsView.user.userType}"/>
                            <h:outputLabel value="email"/>
                            <h:outputLabel value="#{userDetailsView.user.email}"/>
                            <h:outputLabel value="contactPerson"/>
                            <h:outputLabel value="#{userDetailsView.user.userDriver.contactPerson}"/>
                            <h:outputLabel value="city"/>
                            <h:outputLabel value="#{userDetailsView.user.userDriver.city}"/>

                        </p:panelGrid>
                    </h:form>
                </h:panelGroup>
            </ui:define></ui:composition>
    </h:body>
</html>

