<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="layout/main/common.xhtml">
            <ui:define name="title"> List Company</ui:define>
            <ui:define name="content">	
                <h:form>

                    <p:dataTable tableStyleClass="striped centered" var="u" value="#{userCompanyListView.list}" widgetVar="persTable"
                                 reflow="true"
                                 paginator="true"
                                 rowsPerPageTemplate="4"
                                 rows="5" emptyMessage="No record"
                                 filteredValue="#{userCompanyListView.filteredUser}">


                        <p:column headerText="Company" footerText="contains">
                            <h:outputText value="#{u.contactPerson}" />
                        </p:column>

                        <p:column headerText="Vehicle" footerText="contains" filterBy="#{u.city}" filterMatchMode="equals">
                            
                            <h:outputText value="#{u.city}" />
                        </p:column>

                        <p:column headerText="Phone" footerText="Phone">
                            <h:outputText value="#{u.mobile}" />
                        </p:column>

                        <p:column>
                            <p:commandButton update="@form:userDetail" oncomplete="PF('userDialog').show()" icon="ui-icon-search" title="View">
                                <f:setPropertyActionListener value="#{u}" target="#{userCompanyListView.selectedUserDriver}" />
                            </p:commandButton>
                        </p:column>
                    </p:dataTable>


                    <p:dialog header="User Info" widgetVar="userDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                        <p:outputPanel id="userDetail" style="text-align:center;">
                            <p:panelGrid  columns="2" rendered="#{not empty userCompanyListView.selectedUserDriver}" columnClasses="label,value">


                                <h:outputText value="Name:" />
                                <h:outputText value="#{userCompanyListView.selectedUserDriver.contactPerson}" />

                                <h:outputText value="Image" />
                                <h:outputText value="#{userCompanyListView.selectedUserDriver.comDescription}" />

                                <p:button outcome="userDetails.xhtml" icon="fa fa-fw fa-edit" value="Xem them">
                                    <f:param name="id" value="#{userCompanyListView.selectedUserDriver.userAccount.id}"/>
                                </p:button>
                            </p:panelGrid>
                        </p:outputPanel>
                    </p:dialog>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

