<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="layout/main/common.xhtml">
            <ui:define name="title"> List Driver</ui:define>
            <ui:define name="content">	
                <h:form>
                    
                    <p:dataTable tableStyleClass="striped centered" var="u" value="#{userDriverView.list}" widgetVar="persTable"
                                 reflow="true"
                                 paginator="true"
                                 rowsPerPageTemplate="4"
                                 rows="5" emptyMessage="No record"
                                 filteredValue="#{userDriverView.filteredUser}">


                        <p:column headerText="Contact Person" footerText="contains">
                            <h:outputText value="#{u.contactPerson}" />
                        </p:column>

                        <p:column headerText="Vehicle" footerText="contains" filterBy="#{u.driverVehicleType}" filterMatchMode="equals">
                            <f:facet name="filter">
                                <p:selectOneMenu onchange="PF('persTable').filter()" >
                                    <f:selectItem itemLabel="Select One" itemValue="#{null}" noSelectionOption="true" />
                                    <f:selectItem itemLabel="Motorbike" itemValue="motorbike" />
                                    <f:selectItem itemLabel="Car" itemValue="Car" />
                                </p:selectOneMenu>
                            </f:facet>
                            <h:outputText value="#{u.driverVehicleType}" />
                        </p:column>

                        <p:column headerText="Phone" footerText="Phone">
                            <h:outputText value="#{u.mobile}" />
                        </p:column>

                        <p:column headerText="Status" footerText="contains" filterBy="#{u.driverStatus}" filterMatchMode="equals">
                            <f:facet name="filter">
                                <p:selectOneButton onchange="PF('persTable').filter()">
                                    <f:converter converterId="javax.faces.Boolean" />
                                    <f:selectItem itemLabel="All" itemValue="" />
                                    <f:selectItem itemLabel="Online" itemValue="true" />
                                    <f:selectItem itemLabel="Not" itemValue="false" />
                                </p:selectOneButton>
                            </f:facet>
                            <h:outputText value="#{u.driverStatus ? 'Online':'Offline'}" />
                        </p:column>

                        <p:column headerText="Fee" footerText="contains" filterBy="#{u.driverPoint}" filterMatchMode="contains">
                            <h:outputText value="#{u.driverPoint}" />
                        </p:column>

                        <p:column>
                            <p:commandButton update="@form:userDetail" oncomplete="PF('userDialog').show()" icon="ui-icon-search" title="View">
                                <f:setPropertyActionListener value="#{u}" target="#{userDriverView.selectedUserDriver}" />
                            </p:commandButton>
                        </p:column>
                    </p:dataTable>


                    <p:dialog header="User Info" widgetVar="userDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                        <p:outputPanel id="userDetail" style="text-align:center;">
                            <p:panelGrid  columns="2" rendered="#{not empty userDriverView.selectedUserDriver}" columnClasses="label,value">


                                <h:outputText value="Name:" />
                                <h:outputText value="#{userDriverView.selectedUserDriver.contactPerson}" />

                                <h:outputText value="Image" />
                                <h:outputText value="#{userDriverView.selectedUserDriver.driverVehicleImage}" />

                                <p:button outcome="userDetails.xhtml" icon="fa fa-fw fa-edit" value="Xem them">
                                    <f:param name="id" value="#{userDriverView.selectedUserDriver.userAccount.id}"/>
                                </p:button>
                            </p:panelGrid>
                        </p:outputPanel>
                    </p:dialog>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

