<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <f:metadata>
        <f:viewParam name="id" value="#{userDetails.id}" required="true"/>
        <f:viewAction action="#{userDetails.onload()}"/>
    </f:metadata>
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:panelGroup rendered="#{sessionScope.type == 'admin'}">
            <h:form>
                <p:panelGrid columns="2">
                    <h:outputLabel value="Id"/>
                    <h:outputLabel value="#{userDetails.user.id}"/>
                    <h:outputLabel value="username"/>
                    <h:outputLabel value="#{userDetails.user.username}"/>
                    <h:outputLabel value="userType"/>
                    <h:outputLabel value="#{userDetails.user.userType}"/>
                    <h:outputLabel value="email"/>
                    <h:inputText value="#{userDetails.user.email}"/>
                    <h:outputLabel value="contactPerson}"/>
                    <h:inputText value="#{userDetails.user.userDriver.contactPerson}"/>
                    <h:outputLabel value="city"/>
                    <h:inputText value="#{userDetails.user.userDriver.city}"/>
                    <h:outputLabel value="drivingLicense"/>
                    <h:inputText value="#{userDetails.user.userDriver.drivingLicense}"/>
                    <h:outputLabel value="driverVehicleType"/>
                    <h:inputText value="#{userDetails.user.userDriver.driverVehicleType}"/>
                    <h:outputLabel value="driverVehicleImage"/>
                    <h:inputText value="#{userDetails.user.userDriver.driverVehicleImage}"/>
                    <h:outputLabel value="mobile"/>
                    <h:inputText value="#{userDetails.user.userDriver.mobile}"/>
                    <h:outputLabel value="telephone"/>
                    <h:inputText value="#{userDetails.user.userDriver.telephone}"/>
                    <h:outputLabel value="driverStatus"/>
                    <h:inputText value="#{userDetails.user.userDriver.driverStatus}"/>
                    <h:outputLabel value="experience"/>
                    <h:outputLabel value="#{userDetails.user.userDriver.experience}"/>
                    <h:outputLabel value="driverPoint"/>
                    <h:outputLabel value="#{userDetails.user.userDriver.driverPoint}"/>
                </p:panelGrid>
                <h:commandButton action="#{userDetails.actionUpdate()}" value="Update" onclick="return confirm('Are you sure?')"></h:commandButton>        </h:form>
        </h:panelGroup>
    </h:body>
</html>

