<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
        <script  
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3YBM_JpQrkCN-YHdRSUFjaKKH26V0iTA">
    </script>
    </h:head>
    <h:body>
        <h:form>  
            <p:growl id="messages" showDetail="true" life="2000" />

            <p:gmap id="gmap" center="41.381542, 2.122893" zoom="15" type="ROADMAP" style="width:100%;height:400px">
                <p:ajax event="stateChange" listener="#{eventView.onStateChange}" update="messages" />
                <p:ajax event="pointSelect" listener="#{eventView.onPointSelect}" update="messages" />
            </p:gmap>
        </h:form>
    </h:body>
</html>

